
:root{
    --sender:clamp(30vw,50vw,60vw);
}
#chat_screen{
    width:100vw;
    height: 100vh;
    top:-15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*{
    color:white
}


#chat_square li{

    list-style: none;
    text-align: center;




}

/* Messages styling */
#messages{
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-y: scroll;
    height: 100%;
    /* background-color: green; */
}
/* received Messages */
.recv_me{
    background-color: grey;
    max-width:fit-content;
       padding: 8px 12px;
    border-radius: 18px;


    align-self: flex-end;

}
/* sent messages */
.my_m{
    background-color: blue;
    max-width: fit-content;

    padding: 8px 12px;
    border-radius: 18px;


}
/*  received message_field */
.recv_c{
    display: flex;
    flex-direction: column;

     align-self: flex-end;



}
/* sent message_field */
.my_c{

    width:clamp(20vw,30vw,90vw);

}

#sender input{
    width:80%;
    height:80%;
    text-align: center;
    border:2px solid blue;
    color:black;
    border-radius: 3vw;
}

#sender button{
    width:clamp(5vw, 8vw,10vw);
    height:clamp(2vh,5vh,7vh);
    color:black;
    font-weight: 900;
     border:2px solid blue;
    margin-left: 2vw;
    font-size: 2rem;
}
#sender{
    display: flex;
    height: clamp(4vh,8vh,20vh);
    align-items: center;
    justify-content: center;

    width:var(--sender);

    position: relative;
    top:-10vh;
    left:calc(50% - calc(var(--sender)/2));
}
.m_info{
    background-color: lightblue;

    color:white;
    width: max-content;
}

#chat_square{


   background-image: url("/static/media/imgs/chatBack.jpg");
    width:clamp(30vw,80vw,90vw);
    margin-top: 20vh;

    height: clamp(30vh,70vh,90vh);
    margin-bottom: 1vh;

}
#nav{
    display: flex;
    position: relative;

    flex-direction: row;
    list-style: none;
}

#nav li button{

    font-size: clamp(1.5rem, 2rem, 3.5rem);
    border-radius: 2vw;
   width: clamp(8vw,15vw,30vw);
    list-style: none;
    margin-right: 1vh;
    height:clamp(5vh,8vh,15vh);
    background-color: rgb(4, 80, 220);

}
#user_info{
    width:20vw;
    position: absolute;
    text-align: center;
    border-radius: 1vw;
    color:darkgoldenrod;
    left: calc(50% - 10vw);
    padding:5px;
    background-color:darkblue;
}
#nav li button:hover{

    color:goldenrod;
    box-shadow: 0px 0px 10px gold;
    background-color: rgb(4, 20, 220);

}
#chat{
    color:goldenrod;
}
@media (min-width:300px) and (max-width:800px)
{

    input{

    height:clamp(3vh,5vh,10vh);
    border-radius: 3vw;
    width:clamp(30vw,50vw,60vw) ;
    font-size: clamp(0.5rem,1.2rem, 2rem);
    text-align: center;
}
}
@media (min-width:800px)
{

}