{% extends "layout.html" %}


{% block title %}
    <link rel="StyleSheet" href="static/css/chat.css">
    <title>Register</title>
{% endblock %}

{%block login_status %}
    <a style="color:white" href="/logout">logout</a>
{%endblock%}

{% block body %}
<div id="chat_screen">

<div id="profile">
    <a href="/profile" ><img src="/static/media/imgs/profile.png" alt="profile"></a><
<p id="user_name">{{ user_nameT }}</p>
</div>
<ul id="chats" >


</ul>


    <ul id="nav">
    <li><a href="/find"><img src="/static/media/imgs/find.png"></a></li>
    <li><a href="/chats"><img src="/static/media/imgs/chat.png"></a></li>
    <li><a href="/request"><img src="/static/media/imgs/request.png"></a></li>
</ul>
</div>
<script src="/static/js/chat.js"></script>
{% endblock%}