{% extends "layout.html" %}


{% block title %}
    <link rel="StyleSheet" href="/static/css/find.css">
    <title>Requests</title>
{% endblock %}

{%block login_status %}
    <a style="color:white" href="/logout">logout</a>
{%endblock%}

{% block body %}
<div id="find_screen">



<div id="find_square" >
    <div  id="online"><h2>Online Users</h2></div>


    <ul id="users" >

    </ul>


</div>
<div id="search">
    <input  id="username" type="text" placeholder="find" required >
    <button onclick="find_user()" id="search_but">find</button>

</div>

<ul id="nav">
    <li><a href="/find"><button id="find" onclick="find_f()">Find</button></a></li>
    <li><a href="/chat"><button id="chat" onclick="find_f()">Chats</button></a></li>
    <li><a href="/request"><button id="request" onclick="find_f()">Requests</button></a></li>
</ul>

</div>
<script src="/static/js/find.js"></script>
{% endblock%}