<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mainStyle.css">
    <link rel="icon" href="/static/media/imgs/myicon.png">
    {% block title %}

    {% endblock %}
</head>
<body>
    <div id="blocker" class="shield"></div>
    <header>
        <div id="logo">
            <a href="/">
            <img src="../static/media/imgs/mylogo.png" alt="YeeChatty" >
            </a>
        </div>
        <div  id="login_logout"> {%block login_status %}man{% endblock %}</div>

    </header>

    {% block body %}

    {% endblock %}


</html>