{% extends "layout.html" %}


{% block title %}
    <link rel="StyleSheet" href="static/css/register.css">
    <title>Register</title>
{% endblock %}

{%block login_status %}
    <a style="color:white" href="/">back</a>
{%endblock%}

{% block body %}
<div id="reg_screen">

<h1> Register</h1>

<form method="POST" action="/register">
    <input autofocus name="username" type="text" required placeholder="username">
    <input name="fullname" type="text" required placeholder="full name">
    <input name="email" type="email" required placeholder="email">
    <input name="age"  type="number" min="10" max="100" step="1" value="18" placeholder="age">
    <input name="country" type="text" placeholder="countery">
    <input name="password" type="password" required placeholder="password" >
    <input name="cpassword" type="password" required placeholder="Confirm password">
    <button type="submit">Register</button>

</form>
<div id="go_to_login">
    <p>I have account <a href="/login">Login</a></p>
</div>

</div>
<script src="/static/js/register.js"></script>
{% endblock%}