{% extends "layout.html" %}


{% block title %}
    <link rel="StyleSheet" href="/static/css/request.css">
    <title>Requests</title>
{% endblock %}

{%block login_status %}
    <a style="color:white" href="/logout">logout</a>
{%endblock%}

{% block body %}
<div id="request_screen">



<ul id="request_square" >


    <ul id="requests" >

    </ul>


</ul>

<ul id="nav">
    <li><a href="/find"><button id="find" onclick="find_f()">Find</button></a></li>
    <li><a href="/chats"><button id="chat" onclick="find_f()">Chats</button></a></li>
    <li><a href="/request"><button id="request" onclick="find_f()">Requests</button></a></li>
</ul>

</div>
<script src="/static/js/request.js"></script>
{% endblock%}