{% extends "layout.html" %}


{% block title %}
    <link rel="StyleSheet" href="/static/css/room.css">
    <title>Register</title>
{% endblock %}

{%block login_status %}
    <a style="color:white" href="/logout">logout</a>
{%endblock%}

{% block body %}
<div id="chat_screen">



<ul id="chat_square" >
    <div id="user_info"></div>
    <ul id="messages">


    </ul>
    <div id="sender">
        <input autofocus  id="sender_text" type="text" placeholder="type">
        <button  id="sender_but"></button>


    </div>

</ul>

<ul id="nav">
    <li><a href="/find"><button id="find" onclick="find_f()">Find</button></a></li>
    <li><a href="/chats"><button id="chat" onclick="find_f()">Chats</button></a></li>
    <li><a href="/request"><button id="request" onclick="find_f()">Requests</button></a></li>
</ul>
</div>
<script src="/static/js/room.js"></script>
{% endblock%}